:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --dark-bg-color: #121212;
    --dark-secondary-color: #222222;
}

@media (prefers-color-scheme: dark) {
    // :root {
    // }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
}

body {
    background: var(--dark-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
