.alert-container {
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #222;
    display: flex;
    align-items: center;
    gap: 1rem;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-overflow: ellipsis;

        h1 {
            font-weight: bold;
        }

        p {
            opacity: 0.9;
            text-wrap: nowrap;
        }
    }

    svg {
        position: relative;
        height: 1rem;
    }

    &.success {
        border-left: 5px solid #00cc99;
        svg {
            fill: #00cc99;
        }
    }

    &.info {
        border-left: 5px solid #5458f7;

        svg {
            fill: #5458f7;
        }
    }

    &.danger {
        border-left: 5px solid #eb5757;
        svg {
            fill: #eb5757;
        }
    }

    &.warning {
        border-left: 5px solid #f2c94d;
        svg {
            fill: #f2c94d;
        }
    }
}
