.list {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    h1 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .btn-group {
        position: relative;
        display: flex;
        gap: 0.5rem;
    }

    table {
        display: block;
        position: relative;
        // width: 100%;
        height: 100%;
        margin-inline: auto;
        border-spacing: 0;
        overflow-y: scroll;

        thead {
            tr {
                border-bottom: 2px solid #333333;

                th {
                    // background: #333333;
                    p {
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #252525;
            }
        }

        * > th,
        td {
            position: relative;
            padding: 1rem;
            font-size: 0.75rem;
        }
    }
}

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 90%;
    border: 1px solid #444444;
    border-radius: 10px;
    z-index: 1;
    background: #232323;
    transition: all 0.1s ease;
    padding: 1.5rem;
    gap: 1rem;

    &.hidden {
        transform: translate(-50%, -50%) scale(0);
    }

    &.displayed {
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.1s ease;
    }

    .topbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.5%;
        padding: 0 0.5rem;

        h1 {
            position: relative;
            font-size: 1rem;
            text-align: center;
            margin-block: auto;
            text-transform: uppercase;
        }

        svg {
            position: relative;
            height: 75%;
            fill: #dddddd;
            cursor: pointer;
        }
    }

    hr {
        border-color: #444444;
    }
}
