.list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    h1 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .btn-group {

        position: relative;
        display: flex;
        gap: 0.5rem;

    }

    table {
        border: 1px solid #444444;
        border-radius: 0.5rem;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;

        thead {
            tr {
                :first-child {
                    border-top-left-radius: 0.5rem;
                }
                :last-child {
                    border-top-right-radius: 0.5rem;
                }

                th {
                    background: #333333;
                }
            }
        }

        * > th, td {
            padding: 0.5rem 1rem;
            font-size: 0.75rem;
            width: 100px; /* Set a fixed width for columns */
            white-space: nowrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflow content */
            text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
        }


    }


}