.card-container {
    display: flex;
    position: relative;
    height: 12.5rem;
    width: 8.25rem;
    border-radius: 5px;
    overflow: hidden;

    &::before {
        content: "Steins;Gate";
        position: absolute;
        bottom: 0;
        left: 0;
        // height: 10%;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.825rem;
        background: rgba(#222, 0.85);
    }
}
