$dark-bg-color: #121212;
$dark-secondary-color: #222222;
$dark-tertiary-color: #555555;
$dark-focused-color: #888888;

$pd-small: 0.25rem 0.5rem;
$pd-normal: 0.5rem 1rem;
$pd-large: 1rem 2rem;

:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
