$dark-bg-color: #121212;
$dark-main-color: #2e51a2;
$dark-secondary-color: #1b1b1b;
$dark-tertiary-color: #555555;
$dark-focused-color: #888888;

$pd-small: 0.25rem;
$pd-normal: 0.5rem;
$pd-large: 1rem;

:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
