// ========== text alignment ==========
.u-center {
    text-align: center;
}

.u-left {
    text-align: left;
}

.u-right {
    text-align: right;
}

// ========== text transformation ==========

.u-capital {
    text-transform: capitalize;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-lowercase {
    text-transform: lowercase;
}
