.card-container {
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    animation: enter 0.1s ease-out forwards;

    &::before {
        content: "Steins;Gate";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.825rem;
        background: rgba(#222, 0.75);
        z-index: 1;
    }

    img {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 9 / 16;
        object-fit: cover;
    }
}

@keyframes enter {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
