@use "../abstracts/variables.scss" as *;

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    animation: enter 0.1s ease-out forwards;

    &:hover {
        p {
            color: #ffd300;
            transition: all 0.2s ease;
        }
    }

    img {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 9 / 16;
        object-fit: cover;
    }

    p {
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.85;
    }
}

@keyframes enter {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
