@use "../abstracts" as *;

.container {
    @include flex(stretch, stretch, column);
    gap: 1rem;
    position: relative;

    h1 {
        font-weight: bold;
        font-size: 1rem;
    }

    .cards {
        position: inherit;
        display: grid;
        grid-template-columns: repeat(auto-fit, var(--card-width));
        row-gap: 1rem;
        place-content: space-around space-between;
    }
}
