.footer {
    background: var(--dark-secondary-color);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        padding: 1rem 1.5rem;
        font-size: 0.85rem;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.25rem;
        }
    }
}
