@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

.sidebar-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.85fr;
    grid-area: sidebar;
    gap: 1rem;
    max-width: 350px;
    max-height: none;

    .top-anime-section,
    .statistics-section {
        background-color: $dark-secondary-color;
        padding: 1.5rem 1.75rem;
        border-radius: 5px;
        font-weight: 500;
    }

    hr {
        position: relative;
        border: none;
        background-color: rgba(white, 0.15);
        height: 2px;
        width: 100%;
        margin-block: 1rem;
    }

    .statistics-section {
        position: inherit;
        display: flex;
        flex-direction: column;

        .statistics-container {
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            gap: 0.5rem;
            @include flex(center, space-between);

            div {
                @include flex(center, center, column);
                text-align: center;
                gap: 0.25rem;
            }

            h1 {
                font-size: 1.125rem;
                color: scale-color($color: $dark-main-color, $lightness: 50%);
                font-weight: bold;
            }

            h3 {
                font-size: 0.825rem;
                font-weight: 300;
            }
        }
    }

    .top-anime-section {
    }
}
